name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Dune and build
        uses: ocaml-dune/setup-dune@v2
        with:
          workspace: dune-workspace.ci
          cache-prefix: v1-${{ hashFiles('dune-project', 'dune-workspace.ci') }}
